* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #ebe8df;
}

.canvas-box,
.video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
  设置视频高度 100% ，宽度随意，并水平方向居中显示
*/
video {
  margin: 0 auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
}

canvas {
  height: 100%;
}